body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  	
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0 5px 15px 5px rgba(0, 1, 1, 0.2);
}

.main-header {
   min-height: 56px;
   width: 1056px;
   padding-left: 72px;
   padding-right: 72px;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;

  padding: 0;
  margin: 0;
	
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.site-navigation {
  list-style: none;
  width: 100%;
	
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  
  flex-wrap: wrap;
  min-height: height: 56px;
  padding: 0;
  margin: 0;
}

.site-navigation li {
  padding-top: 15px;
  margin: 0;
  margin-right: 0;
  width: 240px;
  height: 41px;
  text-align: left;
}

.site-navigation li:last-child,
.site-navigation li:nth-last-child(2) {
  text-align: right;
}

.site-navigation li:nth-last-child(2) {
  text-align: right;
  margin-left: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
	color: #766357;
}

main {
  position: relative;
  background-color: #ffffff;	
}

.welcome-block {
  display: flex;
  flex-direction: column;
  background-color: #e2f0f9;
  height: auto;
  width: 1200px;
  min-height: auto;
}

.hero-image {
  background-image: 
	  url("../img/top-background.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: 0 -85px;
  background-color: #e2f0f9;
  width: 1200px;
  height: 508px;
}

.welcome-image {
  background-image: 
	 url("../img/welcome_to_sedona.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  width: 460px;
  height: 350px;
  margin: auto;
  margin-top: 75px;
}

.intro-text-block::before {
  content: "";
  position: absolute;
  background: 
	 url("../img/shape.png");
  width: 1200px;
  height: 57px;
  top: -57px;
  left: 0px;
}

.intro-text-block {
  position: relative;
  min-height: 173px;
  padding-top: 43px;
  background-color: #ffffff;
}

.intro-text-block p {
  padding-top: 12px;
}

.sub-features-list,
.features-list {
  list-style: none;
}

.feature-image-1 {
  width: 800px;
  min-height:  256px;
  background-image: 
	 url("../img/main-photo-1.jpg");
  background-size: 800px auto;
  background-position: 0 center;
}

.feature-image-2 {
  width: 800px;
  min-height: 256px;
  background-image: 
	 url("../img/main-photo-2.jpg");
  background-size: 800px auto;
  background-position: 0 center;
}

.feature-item {
  text-align: center;
}

.feature-item-block {
  color: #ffffff;
  width: 320px;
  background-color: #81b3d2;	

  text-align: center;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.welcome-block  {
   text-align: center;
}

h2{
  font-size: 21px;
  line-height: 26px;
}

.features-block {
  display: flex;
  min-height: 256px;
  margin: 0;
}

.sub-features-list {
  display: flex;
  min-height: 330px;
  padding: 0;
  margin: 0;
}

.features-list {
  display: flex;
  min-height: 256px;
  width: 1200px;
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
}

li.feature-item {
  position: relative;	

  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.sub-features li.feature-item:nth-child(1)::after {
  content: "";
  position: absolute;
  background: 
	 url("../img/icon-house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  top: 60px;
  left: 162px;
}

.sub-features li.feature-item:nth-child(2)::after {
  content: "";
  position: absolute;
  background: 
	 url("../img/icon-food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  top: 60px;
  left: 162px;
}

.sub-features li.feature-item:nth-child(3)::after {
  content: "";
  position: absolute;
  background: 
	 url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  top: 56px;
  left: 166px;
}

.feature-item h4 {
  font-size: 21px;
  line-height: 21px;
  padding-top: 140px;
  padding-bottom: 25px;
  margin: 0;
}

.sub-features-list p {
  padding-top: 0;
  margin: 0;
}

.feature-item-block h3 {
  font-size: 21px;
  line-height: 21px;
  padding-bottom: 5px;
}

.feature-item-block p {
  padding-top: 5px;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.features-list p {
  padding-top: 5px;
}

.search-hotel  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 290px;
}

.search-hotel b {
  font-size: 30px;
  line-height: 36px;
  padding-top: 50px;
}

.search-hotel p {
  font-size: 14px;
  line-height: 24px;
  width: 470px;
}

.search-hotel button {
  height: 86px;
  width: 568px;
  margin-top: 20px;
	
  font: inherit;
  font-size: 21px;
  font-weight: 700;	
  line-height: 26px;
	
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.search-hotel button:hover,
.search-hotel button:focus {
  background-color: #604e43;
}

.search-hotel button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-form {
  position: absolute;
  width: 458px;
  height: 285px;
  padding: 55px;
	
  margin-left: -284px;
  left: 50%;
  bottom: -395px;
	
  background-color: #ffffff;
}

.form-row {
    position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
	padding-top: 29px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.form-row:first-child {
  padding-top: 0;
}
	
.search-form label,
.search-form input {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-form label {
  display: block;
  width: 112px;
  padding-left: 0;
  padding-top: 7px;
  margin-right: 0;
}

.amount label:last-of-type  {
  width: 65px;
	margin-left: auto;
}

.search-form input {
  width: 334px;
  height: 38px;
  padding-left: 12px;
  margin: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;

  border: none; 
  background-color: #f2f2f2;
}

.search-form input:focus,
.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:active {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.calendar {
  position: absolute;
  
  height: 22px;
  width: 21px;
	
  padding-right: 9px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
}

.calendar:hover,
.calendar:focus{
  cursor: pointer;
	
}

.calendar:active{
  cursor: pointer;
}

.calendar:hover path,
.calendar:focus path,
.calendar:hover rect,
.calendar:focus rect{
  fill: #000000;
	
}

.calendar:active path,
.calendar:active rect {
  fill: #81b3d2;
}

.min-plus-button {
  font: inherit;
  font-size: 25px;
  line-height: 38px;
  font-weight: 700;
  color: #a9a9a9;
  
  text-align: center;
	
  display: inline-block; 
  background-color: #f2f2f2;
  height: 38px;
  width: 38px;
	
  border: none;
  margin: 0;
  padding: 0;
}

.min-plus-button:hover,
.min-plus-button:focus {
  color: #000000;
  cursor: pointer;

}

.min-plus-button:active {
  color: #81b3d2;
  cursor: pointer;

}

.amount input {
  height: 38px;
  width: 38px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.search-form .button-found {
  height: 58px;
  width: 458px;
  margin-top: 55px;
	
  font: inherit;
  font-size: 21px;
  font-weight: 700;	
  line-height: 26px;
	
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.search-form .button-found:hover,
.search-form .button-found:focus {
  background-color: #669ec0;
  cursor: pointer;
}

.search-form .button-found:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}


.main-footer {
	
  display: flex;
  width: 1200px;
  min-height: 120px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
	
  background-color: rgba (255, 255, 255, 0,9);
}

.main-footer .visitsedona{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;	
  text-align: center;	
	
  color: #000000;
  width: 400px;
}

.footer-social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
	
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button img:active {
  opacity: 0.5;
}

.footer-copyright {
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo_academy {
  margin-top: 4px;
  margin-left: 8px;
}

.logo_academy:hover path,
.logo_academy:focus path, 
.logo_academy:hover rect,
.logo_academy:focus rect {
  fill: #81b3d2;
}

.logo_academy:active path,
.logo_academy:active rect {
  fill: #bdbbbc;
}

.visually-hidden {
  display: none;
}
  

/* hotels.html */

.filter-hotel {
  background-image: 
	  url("../img/filter-background.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3b6482;
  width: 1200px;
  min-height: 217px;
}

.filter-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 27px;
}

.filter-hotel fieldset {
  border: none;
  padding: 0;
}

.filter-hotel fieldset:last-child {
 margin-left: auto;
 margin-right: 0;
}

.filter-check {
  width: 200px;
  margin-right: 55px;
  margin-left: 0;
}

.filter-form legend {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter-hotel ul {
  list-style: none;
}

.checkbox-list {
  display: flex;
  flex-direction: column; 
  margin: 0;
  padding-left: 0;
}

.checkbox-list li{
  height: 35px;
  padding-top: 11px;
  padding-left: 43px;
}

.filter-form label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;	
  color: #ffffff;
}

.filter-option label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.input-checkbox + label::before {
  content: "";
  position: absolute;
  
  background: 
	 url("../img/checkbox-off.svg");
  background-repeat: no-repeat;	
  
  left: -40px;
  top: 0;

  width: 23px;
  height: 23px;
}

.input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  
  background: 
	 url("../img/checkbox-on.svg");
  background-repeat: no-repeat;	
  
  left: -40px;
  top: 0;

  width: 26px;
  height: 23px;
}

.filter-range {
  width: 320px;
  margin-left: auto;
  text-transform: uppercase;
  color: #ffffff;
}

fieldset .filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
   
  height: 33px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
	
  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 30px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  height: 32px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
   font: inherit;	

  display: block;
  margin: 0 auto;
  margin-left: 85px;
  padding: 6px 33px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sort-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1056px;
  padding-left: 72px;
  padding-right: 72px;

  min-height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.found {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 135px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
}

.found ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 135px;
  margin-right: 0;
  padding: 0 0;
  list-style: none;
}

.found li {
  width: auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;	
  color: #000000;
}

.sort-navigation {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  padding: 0;
}

.sort-panel p{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;	
  color: #000000;
  margin-left: 30px; 
  margin-right: 0;

}

.sort-panel-items {
  display: flex;
  list-style: none;
  padding: 0;

}

.sort-panel-items li {
  margin-right: 33px;
}

.sort-panel-items a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;	
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-panel-items .sort-panel-current {
  color: #81b3d2;
  border-bottom: none;
}

.sort-panel-items a:hover,
.sort-panel-items a:focus {
  color: #81b3d2;
}

.sort-panel-items a:active {
  color: #000000;
  border-bottom: none;
}

.sort-raiting {
  display: flex;
  justify-content: space-between;
  width: 35px;
  list-style: none;
  padding: 0;	
  margin-left: auto;
}

.sort-raiting li.current polyline {
  fill: #81b3d2;
}

.sort-raiting polygon,
.sort-raiting polyline {
  fill: #cacaca;
}

.sort-raiting a:hover polygon,
.sort-raiting a:focus polygon {
	fill: #231f20;
}

.sort-raiting a:hover polyline,
.sort-raiting a:focus polyline {
  fill: #231f20;
}

.sort-raiting a:active polygon,
.sort-raiting a:active polyline {
  fill: #81b3d2;
}

.results-list-hotels {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.results-list {
  padding: 0;
}

.results-list-hotels>li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1056px;
	
  height: 150px;
  padding-left: 72px;
  padding-right: 72px;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
}

.raiting {
  width: 50%;
}

.hotel-photo {
  margin-left: 0;
  margin-right: 30px;
  margin-top: 3px;
	
}

.about-hotel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
	
  min-width: 340px;
  min-height: 100px;
  margin-top: 0;
  
}

.about-hotel h3 {
  margin-top: 0;
  margin-bottom: 6px;
}

.results-list-hotels b {
  display: inline-block;
  width: 112px;
  
  margin-bottom: 14px;
  
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;	
  color: #333333;
}

.results-list-hotels .hotel-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;	
  color: #000000;
}

.results-list-hotels .hotel-name:hover,
.results-list-hotels .hotel-name:focus {
  color: #81b3d2;
}

.results-list-hotels .hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.results-list-hotels .more-info {
  display: inline-block;
  width: 100px;
  padding: 3px 5px;
  margin-right: 3px;
  
	
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;	
  color: #ffffff;
	
  background-color: #81b3d2;
}

.results-list-hotels .more-info:hover,
.results-list-hotels .more-info:focus {
  background-color: #669ec0;
}

.results-list-hotels .more-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.results-list-hotels .reserve {
  display: inline-block;
  padding: 3px 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;	
  color: #ffffff;
  background-color: #766357;
}

.results-list-hotels .reserve:hover,
.results-list-hotels .reserve:focus {
  background-color: #604e43;
}

.results-list-hotels .reserve:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end
}

.stars {
 display: flex;
 flex-direction: row;
 list-style: none;
}

.stars li{
  margin-left: 6px;
}

.rating p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
	
  text-align: center;
  color: #666666;
  vertical-align: middle;
  	
  background-color: #f2f2f2;
  width: 110px;
  height: 24px;
  padding-top: 3px;
  margin-top: 40px;
  margin-bottom: 0;
    
}

