body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  	
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0 5px 15px 5px rgba(0, 1, 1, 0.2);
}

.main-header {
   min-height: 56px;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
  
  background-color: #ffffff;
  
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.site-navigation {
  list-style: none;
  width: 1200px;
	
  display: flex;
  align-items: center;
  justify-content: center;
 
  
  flex-wrap: wrap;
  min-height: height: 56px;
  padding: 0;
  margin: 0;
}

.site-navigation li {
  padding-top: 15px;
  margin: 0;
  margin-right: 0;
  width: 240px;
  height: 41px;
  text-align: center;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
	color: #766357;
}

main {
  background-color: #ffffff;	
}

.welcome-block {
  display: flex;
  flex-direction: column;
  background-color: #e2f0f9;
  height: auto;
  width: 1200px;
  min-height: auto;
}

.hero-image {
  background-image: 
	  url("../img/top-background.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: 0 -85px;
  background-color: #e2f0f9;
  width: 1200px;
  height: 508px;
}

.welcome-image {
  background-image: 
	 url("../img/welcome_to_sedona.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  width: 460px;
  height: 350px;
  margin: auto;
  margin-top: 75px;
}

.intro-text-block::before {
  content: "";
  position: absolute;
  background: 
	 url("../img/shape.png");
  width: 1200px;
  height: 57px;
  top: -57px;
  left: 0px;
}

.intro-text-block {
  position: relative;
  min-height: 175px;
  padding-top: 42px;
  background-color: #ffffff;
}

.intro-text-block p {
  padding-top: 15px;
}

.sub-features-list,
.features-list {
  list-style: none;
}

.feature-image-1 {
  width: 800px;
  min-height:  256px;
  background-image: 
	 url("../img/main-photo-1.jpg");
  background-size: 800px auto;
  background-position: 0 center;
}

.feature-image-2 {
  width: 800px;
  min-height: 256px;
  background-image: 
	 url("../img/main-photo-2.jpg");
  background-size: 800px auto;
  background-position: 0 center;
}

.feature-item {
  text-align: center;
}

.feature-item-block {
  color: #ffffff;
  width: 320px;
  background-color: #81b3d2;	

  text-align: center;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.welcome-block  {
   text-align: center;
}

h2{
  font-size: 21px;
  line-height: 26px;
}

.features-block {
  display: flex;
  min-height: 256px;
  margin: 0;
}

.sub-features-list {
  display: flex;
  min-height: 330px;
  padding: 0;
  margin: 0;
}

.features-list {
  display: flex;
  min-height: 256px;
  width: 1200px;
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
}

li.feature-item {
  position: relative;	

  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.sub-features li.feature-item:nth-child(1)::after {
  content: "";
  position: absolute;
  background: 
	 url("../img/icon-house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  top: 60px;
  left: 162px;
}

.sub-features li.feature-item:nth-child(2)::after {
  content: "";
  position: absolute;
  background: 
	 url("../img/icon-food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  top: 60px;
  left: 162px;
}

.sub-features li.feature-item:nth-child(3)::after {
  content: "";
  position: absolute;
  background: 
	 url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  top: 56px;
  left: 166px;
}

.feature-item h4 {
  font-size: 21px;
  line-height: 21px;
  padding-top: 140px;
  padding-bottom: 25px;
  margin: 0;
}

.sub-features-list p {
  padding-top: 0;
  margin: 0;
}

.feature-item-block h3 {
  font-size: 21px;
  line-height: 21px;
  padding-bottom: 5px;
}

.feature-item-block p {
  padding-top: 5px;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.features-list p {
  padding-top: 5px;
}

.search-hotel  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 290px;
}

.search-hotel b {
  font-size: 30px;
  line-height: 36px;
  padding-top: 50px;
}

.search-hotel p {
  font-size: 14px;
  line-height: 24px;
  width: 470px;
}

.search-hotel button {
  height: 86px;
  width: 568px;
  margin-top: 20px;
	
  font: inherit;
  font-size: 21px;
  font-weight: 700;	
  line-height: 26px;
	
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.search-hotel button:hover,
.search-hotel button:focus {
  background-color: #604e43;
}

.search-hotel button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-form {
  position: absolute;
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  
  left: 670px;
  bottom: -1605px;
}

.form-row:first-child {
	padding-top: 55px;
}

.form-row {
	display: flex;
	flex-direction: row;
	
	
	padding-top: 29px;
	width: 460px;
	padding-left: 50px;
	padding-right: 58px;
}
	
.search-form label,
.search-form input {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-form label {
  padding-left: 0;
}

.search-form input {
  width: 295px;
  height: 38px;
  padding-left: 10px;
  margin-left: 25px;
  margin-right: auto;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;

  border: none; 
  background-color: #f2f2f2;
}

.form-row:nth-child(2) input{
	margin-left: 20px;
}

.amount label:first-child {
  margin-left: 0;
	
}

.amount label {
  margin-right: 42px;
  margin-left: 40px;
  padding-top: 5px;
}

.calendar {
  display: inline-block; 
  background: 
	 url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
  height: 38px;
  width: 38px;
	
  margin: 0;
  padding: 0;
}

.min-plus {
  font: inherit;
  font-size: 25px;
  line-height: 26px;
  font-weight: 700;
  color: #a9a9a9;
  
  text-align: center;
 
	
  display: inline-block; 
  background-color: #f2f2f2;
  height: 38px;
  width: 38px;
	
  margin: 0;
  padding: 0;
}

.amount input {
  height: 38px;
  width: 38px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.search-form .button {
  height: 58px;
  width: 458px;
  margin-top: 55px;
  margin-left: 52px;
	
  font: inherit;
  font-size: 21px;
  font-weight: 700;	
  line-height: 26px;
	
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

footer {
  background-color: rgba (255, 255, 255, 0,9);	
}

.main-footer {
  	
  display: flex;
  width: 1200px;
  min-height: 120px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.main-footer .visitsedona{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;	
  text-align: center;	
	
  color: #000000;
  width: 400px;
}

.footer-social ul {
  list-style: none;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.footer-copyright {
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo_academy {
  margin-left: 8px;
}

.visually-hidden {
  display: none;
}
  

/* hotels.html */

.filter-hotel {
  background-image: 
	  url("../img/filter-background.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3b6482;
  width: 1200px;
  min-height: 217px;
}

.filter-form {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 26px;
}

.filter-hotel fieldset {
  border: none;
  margin: 0;
}

.filter-check {
  width: 240px;
}

.checkbox-list {
  display: flex;
  flex-direction: column; 
  margin: 0;
}

.checkbox-list li{
	height: 35px;
	padding-top: 11px;
}

.filter-hotel ul {
  list-style: none;
}

.filter-form legend {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter-form label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;	
  color: #ffffff;
}

.filter-range {
  padding-left: 244px;
  width: 330px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
}

fieldset .filter-range-title {
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
   
  height: 33px;
  margin-bottom: 18px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
	
  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 30px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 85px;
  padding: 6px 30px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sort-panel {
  display: flex;
  flex-direction: row;
  align-items: baseline;
	
  height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.found {
  width: 135px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;	
  color: #000000;
 
  margin-left: 70px;
  margin-right: 30px;
  padding-top: 30px;
}


.sort-panel p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;	
  color: #000000;
  
  margin-right: 0;
}

.sort-panel-items {
  display: flex;
  list-style: none;
  
}

.sort-panel-items li {
  margin-right: 33px;
}

.sort-panel-items a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;	
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-panel-items .sort-panel-current {
  color: #81b3d2;
  border-bottom: none;
}

.sort-panel-items a:hover,
.sort-panel-items a:focus {
  color: #81b3d2;
}

.sort-panel-items a:active {
  color: #000000;
  border-bottom: none;
}


.results-list-hotels {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.results-list-hotels li{
  display: flex;
  flex-direction: row;
  height: 150px;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
}

.hotel-photo {
  margin-left: 72px;
  margin-right: 30px;
  margin-top: 3px;
	
}

.about-hotel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
	
  width: 360px;
  height: 100px;
  margin-top: 0;
  
}

.about-hotel h3 {
  margin-top: 0;
  margin-bottom: 6px;
	
}

.results-list-hotels b {
  display: inline-block;
  width: 110px;
  
  margin-bottom: 14px;
  
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;	
  color: #333333;
}

.results-list-hotels .hotel-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;	
  color: #000000;
}

.results-list-hotels .hotel-name:hover,
.results-list-hotels .hotel-name:focus {
  color: #81b3d2;
}

.results-list-hotels .hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.results-list-hotels .more-info {
  
  display: inline-block;
  width: 100px;
  padding: 3px 5px;
  margin-right: 3px;
  
	
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;	
  color: #ffffff;
	
  background-color: #81b3d2;
}

.results-list-hotels .more-info:hover,
.results-list-hotels .more-info:focus {
  background-color: #669ec0;
}

.results-list-hotels .more-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.results-list-hotels .reserve {
  display: inline-block;
  padding: 3px 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;	
  color: #ffffff;
  background-color: #766357;
}

.results-list-hotels .reserve:hover,
.results-list-hotels .reserve:focus {
  background-color: #604e43;
}

.results-list-hotels .reserve:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating p {
  text-align: center;
  color: #666666;
  vertical-align: middle;
  	
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
}

